In [1]:
"""
Created on december 2024
@author: Théotime de la Selle
"""

import pandas as pd

In [2]:
dirpath = "data/LXX-Rahlf-1935/"

# Load and verify data

In [3]:
words = pd.read_csv(dirpath+"text_accented.csv",delimiter=',',dtype=str)
refs = pd.read_csv(dirpath+"E-verse.csv",delimiter=',',dtype=str)

# Adding a space for verse reconstruction by joining words
words.word = [str(t)+" " for t in words.word]

display(words.head(5))
display(refs.head(5))

  Id1 Id2       word
0   1   1        ἐν
1   2   2      ἀρχῇ
2   3   3  ἐποίησεν
3   4   4         ὁ
4   5   5      θεὸς

  ref1 ref2      verse
0    1    1  「Gen 1:1」
1   11   11  「Gen 1:2」
2   30   30  「Gen 1:3」
3   39   39  「Gen 1:4」
4   60   60  「Gen 1:5」

In [4]:
LXX = pd.DataFrame(refs.verse)
text = ["".join(list(words.word[(int(refs.ref1[i])-1):(int(refs.ref1[i+1])-1)])) for i in range(refs.shape[0]-1)]
LXX["text"] = text+["".join(list(words.word[(int(refs.ref1[refs.shape[0]-1])-1):]))]
display(LXX)

            verse                                               text
0       「Gen 1:1」   ἐν ἀρχῇ ἐποίησεν ὁ θεὸς τὸν οὐρανὸν καὶ τὴν γῆν
1       「Gen 1:2」  ἡ δὲ γῆ ἦν ἀόρατος καὶ ἀκατασκεύαστος καὶ σκότ...
2       「Gen 1:3」     καὶ εἶπεν ὁ θεός γενηθήτω φῶς καὶ ἐγένετο φῶς
3       「Gen 1:4」  καὶ εἶδεν ὁ θεὸς τὸ φῶς ὅτι καλόν καὶ διεχώρισ...
4       「Gen 1:5」  καὶ ἐκάλεσεν ὁ θεὸς τὸ φῶς ἡμέραν καὶ τὸ σκότο...
...           ...                                                ...
30632  「SusTh 60」  καὶ ἀνεβόησεν πᾶσα ἡ συναγωγὴ φωνῇ μεγάλῃ καὶ ...
30633  「SusTh 61」  καὶ ἀνέστησαν ἐπὶ τοὺς δύο πρεσβύτας ὅτι συνέσ...
30634  「SusTh 62」  ποιῆσαι κατὰ τὸν νόμον Μωυσῆ καὶ ἀπέκτειναν αὐ...
30635  「SusTh 63」  Χελκιας δὲ καὶ ἡ γυνὴ αὐτοῦ ᾔνεσαν τὸν θεὸν πε...
30636  「SusTh 64」  καὶ Δανιηλ ἐγένετο μέγας ἐνώπιον τοῦ λαοῦ ἀπὸ ...

[30637 rows x 2 columns]

## CSV export

In [8]:
LXX.to_csv('LXX.txt', sep='\t', index=False)